:root {
    /*--verde-ecovalle: #009D65;*/
    /*--verde-ecovalle-2: #007944;*/
    /*--amarillo-ecovalle: #EC9520;*/

    --verde-ecovalle: #41AB61;
    --verde-ecovalle-2: #02793C;
    --verde-ecovalle-3: #6BBD99;
    --verde-ecovalle-4: #1AA74F;
    --verde-ecovalle-5: #012717;
    --verde-ecovalle-6: #F2F7F0;

    --amarillo-ecovalle: #EE9722;
    --negro: #333333;
}

@font-face {
    font-family: 'Androgyne';
    src: url('../fonts/Androgyne_TB.otf') format('opentype');
    font-weight: 400;
}

@media (min-width: 768px) {
    .card-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .card-text {
        min-height: 50px;
    }

    .panel-atributo-ecovalle:not(:last-child) {
        border-right: 2px var(--verde-ecovalle-3) solid;
        border-bottom: none;
    }
}

@media (max-width: 767px) {
    .panel-atributo-ecovalle:not(:last-child) {
        border-bottom: 2px var(--verde-ecovalle-3) solid;
    }
}
/*------------------------*/
.autocompletar{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}


strong{
    color: black;
}

#inputSearch{
    width: 100%;
    height: 35px;
    background: #ffffff;
    border: none;
    font-size: 12pt;
    float: left;
    padding-left: 10px;
    padding-right: 50px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    outline: none;
}

.autocompletar input#inputSearch::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .autocompletar input#inputSearch:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .autocompletar input#inputSearch::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .autocompletar input#inputSearch:-ms-input-placeholder {  
    color: #65737e;  
 }

.autocompletar button.icon{
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
   
    border: none;
    background: #ffffff; /*#232833*/
    height: 35px;
    width: 50px;
    color: #65737e;
    opacity: 0;
    font-size: 10pt;
   
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.autocompletar:hover button.icon, .autocompletar:active button.icon, .autocompletar:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
} 

/* .autocompletar button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
} */
 
.autocompletar:hover button.icon:hover{
    background: var(--amarillo-ecovalle);
    color: #ffffff;
}

.lista-autocompletar-items{
    color: #ccc;
    margin: 0;
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    white-space: normal;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    zoom: 85%;
}

.lista-autocompletar-items .div-item {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #fff;
    border-top: 1px solid #d4d4d4;
    width: auto;
}

.div-contenedor{
    height: auto;
    text-align: left;
}

.lista-autocompletar-items .div-item:hover {
    /*when hovering an item:*/
    background-color: #02793C; 
}

.autocompletar-active {
        /*when navigating through the items using the arrow keys:*/
    background-color: #02793C !important; 
}

.autocompletar-active strong{
        /*when navigating through the items using the arrow keys:*/
    color: #ffffff; 
}

.hr-line-dashed {
    border-top: 3px solid #02793C;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}
/*--------------------------*/

.text-androgyne {
    font-family: Androgyne;
}

.img-fluid_aux{
    width: 100%;
    height: 250px;
}

.input-buscar input[type=text] {
    border: 1px white solid;
    border-radius: .3rem;
    width: 100%;
    padding: 3px 6px;
}

.input-buscar button[type=submit] {
    color: var(--verde-ecovalle-2);
    position: absolute;
    right: 0;
    padding: 8px;
    background: transparent;
    border: none;
}

.panel-atributo-ecovalle > .img-atributo-ecovalle.hover {
    display: none;
}

.panel-atributo-ecovalle:hover > .img-atributo-ecovalle:not(.hover) {
    display: none;
}

.panel-atributo-ecovalle:hover > .img-atributo-ecovalle.hover {
    display: inline;
}

.card-title > a.producto {
    color: var(--negro);
}

html, body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-item:hover {
    background-color: var(--verde-ecovalle);
    color: #ffffff;
}

.dropdown-item:active, .dropdown-item.active {
    background-color: var(--verde-ecovalle-3);
    color: var(--verde-ecovalle);
}

.masthead {
    height: 45vh;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gray-scale {
    filter: grayscale(100%);
}

.bg-ecovalle {
    background-color: var(--verde-ecovalle) !important;
    color: #ffffff;
}

.bg-ecovalle-2 {
    background-color: var(--verde-ecovalle-2) !important;
    color: #ffffff;
}

.bg-ecovalle-4 {
    background-color: var(--verde-ecovalle-4) !important;
    color: #ffffff;
}

.bg-ecovalle-5 {
    background-color: var(--verde-ecovalle-5) !important;
    color: #ffffff;
}

.bg-ecovalle-6 {
    background-color: var(--verde-ecovalle-6) !important;
}

.bg-amarillo {
    background-color: var(--amarillo-ecovalle) !important;
}

a.img-producto {
    overflow: hidden;
    height: 180px;
}

.img-atributo-ecovalle {
    height: 64px;
}

.img-background-thumbnail {
    width: 100%;
    height: 300px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-background-thumbnail-lg {
    width: 100%;
    height: 400px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

a.img-producto > .img-background-thumbnail {
    height: 100%;
    background-size: contain;
}

a.img-producto:hover > .img-background-thumbnail {
    transform: scale(1.4);
    transition: all .3s;
}

.text-ecovalle {
    color: var(--verde-ecovalle);
}

.text-ecovalle-2 {
    color: var(--verde-ecovalle-2);
}

.text-ecovalle-4 {
    color: var(--verde-ecovalle-4);
}

.text-amarillo-ecovalle {
    color: var(--amarillo-ecovalle) !important;
}

.text-underline {
    text-decoration: underline;
}

.navbar-toggler {
    border-radius: 0;
}

#navbarEnlacesPrincipales .nav-link, #navCategorias .nav-link {
    font-weight: bold;
    color: #ffffff !important;
}

#navbarEnlacesPrincipales .nav-link:hover {
    background-color: var(--verde-ecovalle);
    color: var(--negro) !important;
}

#navbarEnlacesPrincipales .nav-item.active > .nav-link, #navCategorias .nav-item.active > .nav-link {
    background-color: #ffffff;
    color: var(--verde-ecovalle-2) !important;
}

#nav-link-categorias:after {
    display: none;
}

.nav-ecovalle-amarillo {
    color: var(--amarillo-ecovalle);
}

.nav-ecovalle-amarillo:hover {
    color: var(--verde-ecovalle-2);
}

.nav-ecovalle {
    color: var(--verde-ecovalle);
}

.nav-ecovalle-2 {
    color: var(--verde-ecovalle-2);
}

.nav-ecovalle:hover, .nav-ecovalle-2:hover {
    color: var(--verde-ecovalle-3);
}

.nav-ecovalle-blanco {
    color: #ffffff;
}

.nav-ecovalle-blanco:hover {
    color: var(--amarillo-ecovalle);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #000000;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--verde-ecovalle-2);
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "\203A";
}

.link-categoria, .link-categoria:hover {
    text-decoration: none;
    color: #000000;
}

.link-categoria > img.ruta_imagen_hover {
    display: none;
}

.link-categoria:hover > img.ruta_imagen {
    display: none;
}

.link-categoria:hover > img.ruta_imagen_hover {
    display: inherit;
}

.link-categoria > span {
    border-bottom: 2px transparent solid;
}

.link-categoria:hover > span {
    border-bottom: 2px var(--amarillo-ecovalle) solid;
}

.link-locale {
    border: 1px transparent solid;
}

.link-locale.active, .link-locale:hover {
    border: 1px var(--verde-ecovalle-3) solid;
}

.btn-ecovalle {
    background: linear-gradient(to bottom, var(--verde-ecovalle) 5%, var(--verde-ecovalle-2) 100%);
    background-color: var(--verde-ecovalle);
    border: 1px solid var(--verde-ecovalle-2);
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.btn-ecovalle:hover {
    background: linear-gradient(to bottom, var(--verde-ecovalle-2) 5%, var(--verde-ecovalle) 100%);
    background-color: var(--verde-ecovalle-2);
    color: #ffffff;
}

.btn-ecovalle-2 {
    background-color: var(--verde-ecovalle-2);
    border: 1px solid var(--verde-ecovalle-2);
    color: #ffffff;
    text-decoration: none;
}

.btn-ecovalle-2:hover {
    background-color: var(--verde-ecovalle);
    border: 1px solid var(--verde-ecovalle);
}

.btn-amarillo {
    background: var(--amarillo-ecovalle);
    color: #ffffff;
}

.btn-outline-blanco {
    border-color: #ffffff;
    border-width: 2px;
    color: #ffffff;
}

.btn-hover-ecovalle:hover {
    color: var(--verde-ecovalle-2);
    background: #ffffff;
}

.btn-hover-amarillo:hover {
    color: var(--amarillo-ecovalle);
    background: #ffffff;
}

.rounded-md {
    border-radius: .5rem !important;
}

.rounded-lg {
    border-radius: 1rem !important;
}

.rounded-top-lg {
    border-radius: 1rem 1rem 0 0 !important;
}

.rounded-bottom-lg {
    border-radius: 0 0 1rem 1rem !important;
}

.search-ecovalle {
    border: 1px solid var(--verde-ecovalle);
}

.btn-outline-ecovalle {
    color: var(--verde-ecovalle);
    border-color: var(--verde-ecovalle);
}

.btn-outline-ecovalle.active, .btn-outline-ecovalle:hover {
    color: #ffffff;
    background-color: var(--verde-ecovalle);
    border-color: var(--verde-ecovalle);
}

.breadcrumb-item > a {
    color: var(--verde-ecovalle-2);
    font-weight: 600;
}

.page-item > a.page-link {
    color: var(--verde-ecovalle);
}

.page-item.active > a.page-link {
    background-color: var(--verde-ecovalle);
    border-color: var(--verde-ecovalle);
}

.badge-success {
    background-color: var(--verde-ecovalle);
}

.badge-warning {
    background-color: var(--amarillo-ecovalle);
}

.badge-oferta {
    top: 10px;
    left: 10px;
    z-index: 1;
}

.badge-promocion-div {
    border-radius: 5px;
    z-index: 1;
    width: auto;
    height: 38px;
    font-size: 15px;
    padding: 6px;
    color: #ffffff;
    text-align: justify;
    text-justify: auto;
}

.badge-promocion {
    top: 10px;
    left: 40%;
    z-index: 1;
}

.badge-nuevo {
    top: 10px;
    left: auto;
    right: 10px;
    z-index: 1;
}

.badge-ultimos {
    top: 150px;
    left: 10px;
    z-index: 1;
}

footer {
    border-top: 8px var(--amarillo-ecovalle) solid;
    background-color: var(--verde-ecovalle-2);
}

footer * {
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: var(--amarillo-ecovalle);
}

[v-cloak] {
    display: none;
}

.starrr {
    display: inline-block;
}

.starrr a {
    font-size: 15px;
    padding: 0 1px;
    cursor: pointer;
    color: #ffc300;
    text-decoration: none;
}

.starrr a.readonly {
    cursor: default;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.titulo-subrayado:after {
    content: '';
    width: 90px;
    background-color: var(--verde-ecovalle-2);
    height: 4px;
    display: block;
    margin: 4px auto 0 auto;
}

.titulo-subrayado-amarillo:after {
    content: '';
    width: 50px;
    background-color: var(--amarillo-ecovalle);
    height: 4px;
    display: block;
    margin: 4px auto 0 0;
}

.titulo-subrayado-blanco:after {
    content: '';
    width: 90px;
    background-color: #ffffff;
    height: 4px;
    display: block;
    margin: 4px auto 0 auto;
}

ul.lista-ecovalle, footer ul {
    list-style: none;
    padding-left: 0;
}

ul.lista-ecovalle li:before {
    content: '─';
    margin-right: 5px;
}

footer ul li:before {
    content: '›';
    color: var(--amarillo-ecovalle);
    margin-right: 5px;
}

.shadow-lg {
    box-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.3) !important
}

.ui-widget.ui-widget-content {
    border: none;
    background-color: transparent;
    overflow: hidden;
    border-radius: .35rem;
}

.ui-menu .ui-menu-item {
    background-color: var(--verde-ecovalle-6);
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid var(--verde-ecovalle-4);
    background: var(--verde-ecovalle-4);
}

#toast-container > div {
    opacity: 1;
    padding: 15px 15px;
}

#toast-container > .toast-success {
    background-image: none !important;
}

.toast {
    max-width: 500px;
}

#toast-container.toast-top-right > div {
    width: auto;
    /*margin-top: 25px;*/
}

.toast-success {
    background-color: white;
}

.modal-container{
    display: inline-block;
    position: relative;
}

.contenido{
    display: inline-block;
    position: relative;
}

.modal-container.active{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 80;
}

/* .modal-container.active .contenido{
    z-index: 99;
    width: 50%;
    height: 60%;
    border: 1px solid;
} */

@media (min-width: 360px) {
    .modal-container.active .contenido {
        z-index: 99;
        width: 70%;
        height: 60%;
        max-width: 640px;
    }
}

@media (min-width: 640px) {
    .modal-container.active .contenido {
        z-index: 99;
        width: 60%;
        height: 80%;
        max-width: 760px;
    }
}

.modal-container.active .contenido a img{
    z-index: 99;
    width: 100%;
    height: 100%;
}

.modal-container.active::after{
    content:  '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.56);
    z-index: 80;
}

.contenido button.btn-round{
    width: 50px;
    height: 50px;
    border: 0px;
    border-radius: 50% 50%;
    background-color: rgba(0, 0, 0, 0.50);
    font-size: 30px;
    color: #65737e;
    z-index: 99;
    outline: none !important;
    opacity: 1;
    left: 98%;
    top: -8%;
    position: relative;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

button.btn-round:hover{
    outline: none;
    opacity: 1;
}

.contenido:hover button.btn-round{
    outline: none;
    opacity: 1 !important;
    
}

.form-input-p {
    border: 0px;
    outline: none;
}

.form-input-p:focus {
    border: none;
    outline: none;
}

.form-input-p:active {
    border: none;
    outline: none;
}

/*---------------------------------------------------------*/
.modal-pago{
    display: inline-block;
    position: relative;
}

.modal-pago.active{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 80;
}

.modal-pago.active::after{
    content:  '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 80;
}

@media (min-width: 360px) {
    .modal-pago.active img {
        z-index: 99;
        width: 50%;
        height: 25%;
        max-width: 480px;
    }

    .modal-pago.active b{
        z-index: 99;
        top: 55%;
        color:#EE9722;
        font-size: 15px;
        position:absolute;
    }
}

@media (min-width: 760px) {
    .modal-pago.active img {
        z-index: 99;
        width: 20%;
        height: 42%;
        max-width: 1080px;
    }

    .modal-pago.active b{
        z-index: 99;
        top: 58%;
        color:#EE9722;
        font-size: 10px;
        position:absolute;
    }
}

@media (min-width: 1080px) {
    .modal-pago.active img {
        z-index: 99;
        width: 20%;
        height: 38%;
        max-width: 1920px;
    }

    .modal-pago.active b{
        z-index: 99;
        top: 58%;
        color:#EE9722;
        font-size: 20px;
        position:absolute;
    }
}
/*-------------------------------*/
.shield__container{
    background-color: transparent;
    width: 12.5rem;
    height: 8.5rem;
  }

.container__star,
.container__star::before,
.container__star::after{
    width: 0;
    border-color: transparent transparent #02793C transparent;
    border-width: 0 4rem 2.5rem 4rem;
    border-style: solid;
    position: absolute;
    transform: rotate(180deg);
    margin-top: 2.75rem;
    margin-left: 0.25rem;    
}

.container__star::before{
    content: '';
    margin-top: -0.15rem;
    margin-left: -4.3rem;
    transform: rotate(70deg);
}

.container__star::after{
    content: '';
    margin-top: -0.29rem;
    margin-left: -3.87rem;
    transform: rotate(-70deg);
}

.password-update{
    height: auto;
    width: 100%;
    border: 1px solid #012717;
}

.title-password{
    width: 165px;
    margin-top: -12px;
    margin-left: 7px;
    background: #6BBD99;
}
